 *:where(:not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol *)) {
  all: unset;
  display: revert;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  user-select: none;
  font-size: 62.5%;
  font-family: 'Bebas Neue', sans-serif;
  scroll-behavior: smooth;
}

a, button {
  cursor: revert;
}

ol, ul, menu, summary {
  list-style: none;
}

img {
  max-inline-size: 100%;
  max-block-size: 100%;
}

table {
  border-collapse: collapse;
}

input, textarea {
  -webkit-user-select: auto;
}

textarea {
  white-space: revert;
}

meter {
  -webkit-appearance: revert;
  appearance: revert;
}

:where(pre) {
  all: revert;
  box-sizing: border-box;
}

::placeholder {
  color: unset;
}

:where([hidden]) {
  display: none;
}

:where([contenteditable]:not([contenteditable="false"])) {
  -moz-user-modify: read-write;
  -webkit-user-modify: read-write;
  overflow-wrap: break-word;
  -webkit-line-break: after-white-space;
  -webkit-user-select: auto;
}

:where([draggable="true"]) {
  -webkit-user-drag: element;
}

:where(dialog:modal) {
  all: revert;
  box-sizing: border-box;
}

::-webkit-details-marker {
  display: none;
}

@font-face {
  font-family: 'Bebas Neue';
  src: url('/fonts/BebasNeue-Regular.eot');
  src: url('/fonts/BebasNeue-Regular.eot?#iefix') format('embedded-opentype'),
      url('/fonts/BebasNeue-Regular.woff2') format('woff2'),
      url('/fonts/BebasNeue-Regular.woff') format('woff'),
      url('/fonts/BebasNeue-Regular.ttf') format('truetype'),
      url('/fonts/BebasNeue-Regular.svg#BebasNeue-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Danfo';
  src: url('/fonts/Danfo-Regular.eot');
  src: url('/fonts/Danfo-Regular.eot?#iefix') format('embedded-opentype'),
      url('/fonts/Danfo-Regular.woff2') format('woff2'),
      url('/fonts/Danfo-Regular.woff') format('woff'),
      url('/fonts/Danfo-Regular.ttf') format('truetype'),
      url('/fonts/Danfo-Regular.svg#Danfo-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Teko';
  src: url('/fonts/Teko-Regular.eot');
  src: url('/fonts/Teko-Regular.eot?#iefix') format('embedded-opentype'),
      url('/fonts/Teko-Regular.woff2') format('woff2'),
      url('/fonts/Teko-Regular.woff') format('woff'),
      url('/fonts/Teko-Regular.ttf') format('truetype'),
      url('/fonts/Teko-Regular.svg#Teko-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Teko';
  src: url('/fonts/Teko-Bold.eot');
  src: url('/fonts/Teko-Bold.eot?#iefix') format('embedded-opentype'),
      url('/fonts/Teko-Bold.woff2') format('woff2'),
      url('/fonts/Teko-Bold.woff') format('woff'),
      url('/fonts/Teko-Bold.ttf') format('truetype'),
      url('/fonts/Teko-Bold.svg#Teko-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Teko';
  src: url('/fonts/Teko-SemiBold.eot');
  src: url('/fonts/Teko-SemiBold.eot?#iefix') format('embedded-opentype'),
      url('/fonts/Teko-SemiBold.woff2') format('woff2'),
      url('/fonts/Teko-SemiBold.woff') format('woff'),
      url('/fonts/Teko-SemiBold.ttf') format('truetype'),
      url('/fonts/Teko-SemiBold.svg#Teko-SemiBold') format('svg');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Teko';
  src: url('/fonts/Teko-Medium.eot');
  src: url('/fonts/Teko-Medium.eot?#iefix') format('embedded-opentype'),
      url('/fonts/Teko-Medium.woff2') format('woff2'),
      url('/fonts/Teko-Medium.woff') format('woff'),
      url('/fonts/Teko-Medium.ttf') format('truetype'),
      url('/fonts/Teko-Medium.svg#Teko-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Teko';
  src: url('/fonts/Teko-Light.eot');
  src: url('/fonts/Teko-Light.eot?#iefix') format('embedded-opentype'),
      url('/fonts/Teko-Light.woff2') format('woff2'),
      url('/fonts/Teko-Light.woff') format('woff'),
      url('/fonts/Teko-Light.ttf') format('truetype'),
      url('/fonts/Teko-Light.svg#Teko-Light') format('svg');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Rock Salt';
  src: url('/fonts/RockSalt-Regular.eot');
  src: url('/fonts/RockSalt-Regular.eot?#iefix') format('embedded-opentype'),
      url('/fonts/RockSalt-Regular.woff2') format('woff2'),
      url('/fonts/RockSalt-Regular.woff') format('woff'),
      url('/fonts/RockSalt-Regular.ttf') format('truetype'),
      url('/fonts/RockSalt-Regular.svg#RockSalt-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'QUICKSILVER FAST';
  src: url('/fonts/QUICKSILVERFAST-Regular.eot');
  src: url('/fonts/QUICKSILVERFAST-Regular.eot?#iefix') format('embedded-opentype'),
      url('/fonts/QUICKSILVERFAST-Regular.woff2') format('woff2'),
      url('/fonts/QUICKSILVERFAST-Regular.woff') format('woff'),
      url('/fonts/QUICKSILVERFAST-Regular.ttf') format('truetype'),
      url('/fonts/QUICKSILVERFAST-Regular.svg#QUICKSILVERFAST-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Robot Monster';
  src: url('/fonts/RobotMonster-Italic.eot');
  src: url('/fonts/RobotMonster-Italic.eot?#iefix') format('embedded-opentype'),
      url('/fonts/RobotMonster-Italic.woff2') format('woff2'),
      url('/fonts/RobotMonster-Italic.woff') format('woff'),
      url('/fonts/RobotMonster-Italic.ttf') format('truetype'),
      url('/fonts/RobotMonster-Italic.svg#RobotMonster-Italic') format('svg');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}



